<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galvanize Games</title>
  </head>
  <body>
    <header>
      <h1>Galvanize Games </h1>
    </header>
    {{{body}}}
  </body>
</html>


<!-- //bootstrap in the head, css styling below the closing head tag -->
